body{
  background-color: rgb(236, 226, 240);
}
.Global{
  font-size: 40px;
  font-family: Corinthia;
  text-align: center;
  width: auto;
}
.Welcome {
  height: 999px;
  position: relative;
}
.SecondPage{
	position: relative;
}
.Link{
  color: #639;
  text-decoration: none;
}
@font-face {
  font-family: 'Corinthia';
  src: local('Corinthia'), url(./fonts/Corinthia/Corinthia-Regular.ttf) format('truetype');
  font-size: 22;
}